[tool.ruff]
indent-width = 4
line-length = 120
target-version = "py39"
exclude = [
    "scripts/databricks_notebooks",
]

[tool.ruff.format]
# Like Black, use double quotes for strings.
quote-style = "double"

# Like Black, indent with spaces, rather than tabs.
indent-style = "space"

# Like Black, respect magic trailing commas.
skip-magic-trailing-comma = false

# Like Black, automatically detect the appropriate line ending.
line-ending = "auto"

docstring-code-format = false
docstring-code-line-length = "dynamic"


[tool.ruff.lint]
# Enable all `pydocstyle` rules, limiting to those that adhere to the
# Google convention via `convention = "google"`, below.
select = ["D", "E4", "E7", "E9", "F"]

# On top of the Google convention, disable `D417`, which requires
# documentation for every function parameter.
# Also, disable dicstring enforcer for public classes and functions
ignore = ["D417", "D100", "D101", "D102", "D104", "D105", "D103", "D107", "D205", "D415", "E731", "E741"]

exclude = [
    "tests/*",
    "scripts/*",
    "setup.py"
]

# Allow fix for all enabled rules (when `--fix`) is provided.
fixable = ["ALL"]
unfixable = []

# Allow unused variables when underscore-prefixed.
dummy-variable-rgx = "^(_+|(_+[a-zA-Z0-9_]*[a-zA-Z0-9]+?))$"

[tool.ruff.lint.pydocstyle]
convention = "google"
